body{
  background: linear-gradient(aliceblue,  darkgray, lightskyblue); 

}


h1 {
  color: rgb(25, 0, 255);
  text-align: left;
}

.penn {
  border: 50px aquamarine;
}

.main-text {
  color: orange;
}

.news-letter {
  color: chocolate;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}